{% load static %}
<link rel="stylesheet" href="{% static 'css/chef.css' %}">
<div class="qualified-chef">
    <div class="blank"></div>
    <div class="recipe-header">
        <h2>Our Qualified Chefs</h2>
        <p>Fusce dignissim blandit justo, eget elementum risus tristique. Nunc lacus lacus, sit amet accumsan
            est pulvinar non. Praesent tristique enim lorem. Phasellus a auctor lacus.</p>
    </div>
    <div class="chef-pics">
        <div class="chef-card">
            <div class="image">
                <img src="{% static '/images/chef1.jpg' %}" alt="chef">
            </div>
            <h6>Nick Paterson</h6>
            <p>Chef</p>
            <div class="social">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
        <div class="chef-card">
            <div class="image">
                <img src="{% static '/images/chef2.jpg' %}" alt="chef">
            </div>
            <h6>Jacob Guerrero</h6>
            <p>Chef</p>
            <div class="social">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
        <div class="chef-card">
            <div class="image">
                <img src="{% static '/images/chef3.jpg' %}" alt="chef">
            </div>
            <h6>Melissa Prey</h6>
            <p>Chef</p>
            <div class="social">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>
    <div class="blank"></div>
</div>